; Copy this file to .env and edit it to suit your environment
; `localhost` for development on personal machines `db2.csse.canterbury.ac.nz` when using lab machines
SENG365_MYSQL_HOST=localhost
SENG365_MYSQL_USER=<your user code>
SENG365_MYSQL_PASSWORD=<your student id>
SENG365_MYSQL_DATABASE=<your database name i.e. abc123_blogs>
SENG365_MYSQL_PORT=3306
